{
  "accesstoken" : "{{ onepasswordRead "op://Private/Raycast/Gespeichert auf www.raycast.com/Access Token" }}",
  "token" : "{{ onepasswordRead "op://Private/Raycast/Gespeichert auf www.raycast.com/Access Token" }}"
}
