{
        "auths": {
                "docker.io": {
                        "auth": "{{ onepasswordRead "op://Private/xlorokatcrhhpnhbtcjbe6ikee/Auth Token" }}"
                },
                "quay.io": {
                        "auth": "{{ onepasswordRead "op://Private/Quay.io/Robot Accounts/Auth Token" }}"
                }
        }
}
